body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  font-weight: bold;
}

a:active {
  color: black;
}

#header {
  margin: 1em 0 2em 0;
}

#footer {
  margin: 4em 0 2em 0;
}
